<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="DetallePais.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Detalle Pais </title>
</head>
<body>
    <header>
        <h1> Detalles Del Pais </h1>
    </header>
    <div>
        <p> @ViewBag.PaisBuscado.Nombre </p>
        <p> @ViewBag.PaisBuscado.Poblacion </p>
        <p> @ViewBag.PaisBuscado.FechaIndependencia </p>
        <p> @ViewBag.PaisBuscado.AtractivosTuristicos </p>
    </div>
    
</body>
</html>