@{
    ViewData["Title"] = "Home Page";
}

<h1>TP 4Bis - Pagina Paises</h1>


<header>
    <p> Elije Una Bandera </p>
</header>
<div>
    @foreach (pais item in ViewBag.ListaPaises)
    {
    <a href='@Url.Action("DetallePais",new { Pais = item.Nombre})'>
        <img src="/Imagenes/@item.imgBandera">
    </a>
    <p> @item.Nombre </p>
    }
</div>
